/**/

/*Code CSS venant de https://www.youtube.com/watch?v=PwWHL3RyQgk, Skillthrive, 11:23-*/
* {
    box-sizing:border-box;
    font-family: sans-serif, Arial;
    color:black;
    margin:0;
    padding: 0;
}

html, body{
    height:100%;
    margin:0;
}

.wrapper{
    min-height: 100%;
    margin-bottom:-70px;
}

 a{
    font-family:sans-serif, Arial;
    font-size: 16px;
    color: white;
    text-decoration:none;
}
header{
    background-color: #14597f;
    height: 60px;
    border-bottom: 1px solid #0b2d3d;
    
}

.content{
    max-width: 1200px;
    align-items: center;
    min-height:100%;
    padding: 10px 20px; 
    margin:auto;
}
header .content{
    display: flex;
    justify-content:flex-end;
    padding: 0px 20px; 
    align-items: center;
}

.logo{
    max-height:45px; 
    margin-right: auto;
    
}
nav{
    max-width: 1200px;
    padding: 0px 20px;
    height: 60px;
    color: white;

   
}
.nav_links{
    list-style: none;
    color: white;
    float:right;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100px 100px 100px 50px;
    grid-template-rows: 30px;
}

.nav_links li{
    display:inline-block;
    padding: 0px 15px;
}

.nav-links li a{
    color:white;
    align-items: center;
}

.active{
    border-radius: 4px;
    background-color: #1fb5e9;
    padding: 10px;
}
/*Attributs CSS pour l'icone du panier*/
/* Pour que l'icone soit aligné avec les autres onglets*/
.special{
    margin-top: -12px;
}
.shopping-cart{
    vertical-align: middle;
    text-align: center;
}

.fa-stack{
    z-index:0;
    vertical-align: middle;
    text-align: center;
}

.fa-shopping-cart{
    color:#14597f;

}
.fa-circle{
    color:white;
}

.count{
    display:block;
    width: fit-content;
    height: fit-content;
    color:white;
    background-color:#d9534f;
    padding: 5px 9px;
    border-radius: 20px;
    margin-top: -18px;
    margin-left: 30px;
    position: sticky;
    z-index:1;
    font-size:12px;
}

/*Attributs CSS pour les boutons*/
.btn{
    background-color: #14597f;
    border: 1px solid #0b2d3d;
    border-radius: 4px;
    padding: 8px;
    color:white;
    width:fit-content;
    
}
.btn:hover{
    background-color: #1fb5e9;
    transition: all 0.2s ease-out, 1s;
}

#home{
    float:right;
    margin-top: -180px;
}
/*Attributs CSS pour le pied de page, en utilisant comme reference de code 
https://css-tricks.com/couple-takes-sticky-footer/ par Chris Coyier*/

.footer, .push{
    height:70px;
}
.footer{
    background-color: #eeeeee;
    border-top:1px solid #cccccc;
    height: 70px;
    text-align: center;
    color:black;
    
}
.footer p{
    padding:25px 0px;
    max-width:1200px;
    align-items: center;
    margin:auto;
}

/*Style specifique pour certaines pages*/

/*Style specifique pour la page de contact.html*/
.contact_columns{
    float: left;
    width: 33.33%;
    justify-content: center;
    font-family: sans-serif ;
    color:black;
    text-align: center;
    margin: 75px 0px;
}
.contact_columns a{
    text-decoration: revert;
}

.contact_row{
    align-content: center;
    border:1px solid #999999;
    border-radius: 4px;
    justify-content: center;
}
.contact_row:after{
    content: "";
    display: table;
    clear: both;
}

.contact_columns a{
    color:black;
}
/*Changer la grandeur des icones pour page contact.html*/
.fa-mobile-alt, .fa-map-marker-alt, .fa-envelope{
    font-size:75px;
}

/* Style CSS pour les formulaires (product.html et order.html)*/
.row{
    align-content: center;
    justify-content:center;

}
.col{
    float:left;
    width:50%;
    justify-content: center;
    font-family: sans-serif ;
    color:black;
    text-align: left;

}

.col img{
    width: 100%;
    height: 100%;
}

.form_box{
    border: 1px solid #999999;
    border-radius: 4px;
}
.col input{
    width:95%;
    height:30px;
    margin: 10px 0px;
}

.add{
    display:flex;
    justify-content:right;
    align-items: center;
    
}

.add input{
    width:fit-content;
    margin-right:0px;
   
}
.row input[type=submit]{
    float:right;
    margin-right:30px
}

blockquote a{
    text-decoration: underline;
    color:black;
}
